.productPane {
    width: 20%; /* leaves some space to the horizontal browser borders */
    overflow: hidden;
    padding: 2rem 0.5rem;
    flex: 1 0 auto;
    display: block;
    margin: 0 auto;
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -2rem;
}

.snackBar {
    background-color: blue;
}

.form-button {
    display: flex;
    justify-content: center;
}

button {
    margin: 5%;
}
