    <div class="home-btns">
        <button class="sqr" style="margin: 1em">
            <span class="material-symbols-outlined">home</span>
            <br>
            Dashboard
        </button>

        <button class="pbutton" routerLink="/products">
            <span class="material-symbols-outlined">inventory</span>
            <br>
            Products
        </button>

        <!--<button class="pbutton" routerLink="/orders">
            <span class="material-symbols-outlined">shopping_basket</span>
            <br>
            Orders
        </button>-->

        <button class="pbutton"  routerLink="/selectProduct">
            <span class="material-symbols-outlined">local_shipping</span>
            <br>
            Pick Product
        </button>

        <button class="pbutton" routerLink="/assignStorage">
            <span class="material-symbols-outlined">barcode</span>
            <br>
            Store Product
        </button>

        <!--<button class="pbutton" routerLink="/">
            <span class="material-symbols-outlined">info</span>
            <br>
            Imprint
        </button>-->

        <button class="pbutton" (click)="settingsDialog()">
            <span class="material-symbols-outlined">person</span>
            <br>
            Account
        </button>

        <button class="pbutton" style="background-color: indianred;" disabled>
            <span class="material-symbols-outlined">logout</span>
            <br>
            Logout
        </button>
    </div>