<h2 style="text-align: center;">Add a Product:</h2>
<div>
    <form [formGroup]="productAddForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-group">
            <mat-label>Product ID</mat-label>
            <input matInput [(ngModel)]="productId" type="text" formControlName="productId" required>
        </mat-form-field>
        <br>
        <mat-form-field class="form-group">
            <mat-label>Product Name</mat-label>
            <input matInput [(ngModel)]="productName" type="text" id="productName" formControlName="productName" required>
        </mat-form-field>
        <br>
        <mat-form-field class="form-group">
            <mat-label>Image URL</mat-label>
            <input matInput type="url" id="imageUrl" formControlName="imageUrl">
        </mat-form-field>
        <div class="form-button">
            <button style="margin: 5%" type="submit" class="btn btn-success" [disabled]="!productId || !productName">
                <span style="padding: 1%" class="material-symbols-outlined">check</span>
            </button>
        </div>
    </form>

</div>
