

<div class="productDiv">
    <h1 class="title">Our products:</h1>

    <div class="form-group">
        <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Filter by ProductID or Product Name">
    </div>
    <table class="styledTable">
        <thead>
        <tr>
            <th sortable="productId">ProductID</th>
            <th sortable="productName">Product Name</th>
            <th>Image</th>
            <th>Interaction</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products | product:filter">
            <td>{{ product.productId }}</td>
            <td>{{ product.productName }}</td>
            <td><img src="{{ product.imageUrl }}" width="75px" height="75px"></td>
            <td>
                <button (click)="pickProduct(product.productId)" class="btn btn-info" id="pickButton">Pick</button>
                <button (click)="storeProduct(product.productId)" class="btn btn-primary" style="margin-left: 1%" disabled>Store</button>
                <button (click)="deleteProduct(product.productId)" class="btn btn-danger" style="margin-left: 1%" disabled>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="text-align: center">
    <button class="btn btn-success" (click)="addProduct()" disabled>
        <span style="padding: 1%" class="material-symbols-outlined">add</span>
    </button>
    <button style="margin-left: 1%" class="btn btn-danger" routerLink="">
        <span style="padding: 1%" class="material-symbols-outlined">cancel</span>
    </button>
</div>


